.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: #0FA;
  padding:1rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Home-button {
  font-size: 3rem;
  float:'left';
  color: #0FA;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
